# --- Frontend (Node/Vue) ---
node_modules
.DS_Store
dist
dist-ssr
coverage
*.local
.eslintcache
*.tsbuildinfo

# --- Backend (Python/FastAPI) ---
# Virtuelle Umgebung
venv/
.venv/
env/

# Python Kompilation & Cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/

# Umgebungsvariablen (Secrets)
.env
.flaskenv

# --- Editor & System ---
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.sw?

# --- Cypress/Vitest ---
/cypress/videos/
/cypress/screenshots/
__screenshots__/